---
import Button from "../components/astro/Button.astro";
import { Counter } from "../components/solid/counter";
import { Counter2 } from "../components/react/counter2";
import { Sale } from "../components/solid/sale";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body>
    <div
      class="grid h-screen place-items-center content-center bg-crust text-text"
    >
      <Button>Tailwind Button in Astro!</Button>

      <a href="/markdown-page" class="p-4 underline"
        >Markdown is also supported...</a
      >

      <Counter client:load />

      <div class="h-3"></div>

      <Counter2 client:load />

      <div class="h-3"></div>

      <Sale client:load />
    </div>
  </body>
</html>

<style lang="scss" is:inline>
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-thumb {
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #aaaaaa;
  }
</style>
